src/main/mule/mule-fundamentals.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="Global_HTTP_Listener_Config" doc:name="HTTP Listener config" doc:id="b2da3db3-0e54-4d2d-9c30-a121d0afe998" >
		<http:listener-connection host="127.0.0.1" port="7081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="d79fd446-7b1c-4f40-94ec-809b3406ba27" >
		<jms:active-mq-connection />
	</jms:config>
	<flow name="sayHello" doc:id="11a3cf82-5477-4b52-9a51-cd85016c9c4c" >
		<http:listener doc:name="hello" doc:id="4e079a9e-1ace-4ac0-a0ed-741520a2df39" config-ref="Global_HTTP_Listener_Config" path="/hello/{surname}" allowedMethods="POST">
			<http:response statusCode="202" reasonPhrase="Accepted for processing later">
				<http:body ><![CDATA[#[output application/xml
---
responseMsg: payload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
{
	"ref-id" : "DISNEY-" ++ correlationId
}]]]></http:headers>
			</http:response>
		</http:listener>
		<!-- [STUDIO:"Logger"]<logger level="INFO" doc:name="Logger" doc:id="df163520-8e76-41d7-9a15-99be6a2992d8" message="#[message&#93;"/> [STUDIO] -->
		<flow-ref doc:name="createFullName" doc:id="b4a33cd3-eac3-4f2a-824c-fe94a159729c" name="createFullName"/>
		<flow-ref doc:name="setOccupationAndPayload" doc:id="d0088884-cd30-4434-a500-80d1d5c447cd" name="setOccupationAndPayload" />
		<jms:publish doc:name="Publish to JMS Queue" doc:id="0b90cdf6-9e98-48b6-97c0-052d03bea579" config-ref="JMS_Config" destination="goodbye.flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="cccc494e-d5dc-47dc-b227-1dcff262cfb9" message='#[output application/json&#10;---&#10;{&#10;	"location": flow.name,&#10;	"currentPayload": message.payload	&#10;}]'/>
	</flow>
	<sub-flow name="createFullName" doc:id="a37a3466-beb4-4997-a555-47acc298eed1" >
		<set-variable value="#[message.attributes.uriParams.surname]" doc:name="Set lastName UriParams" doc:id="0ac4ee36-df0c-41eb-91c0-781398a50b23" variableName="lastName" />
		<set-variable value='#[message.attributes.queryParams."first-name" default "John"]' doc:name="Set firstName QueryParams" doc:id="dd845dcb-5634-4d58-b4df-44c6ac76d159" variableName="firstName" />
		<set-variable value='#[(vars.firstName as String) ++ " " ++ (vars.lastName as String)]' doc:name="fullName" doc:id="aa455e4e-09d8-4950-9afe-4135bf8a9856" variableName="fullName" />
	</sub-flow>
	<flow name="setOccupationAndPayload" doc:id="7f71da31-e7a7-4390-86b8-aa79138bdf9d">
		<set-variable value='#[message.attributes.headers.role default "Mulesoft Developer"]' doc:name="Set role Header" doc:id="975b3412-19d6-4947-a771-b60e022f255f" variableName="occupation" />
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"salutation": message.payload.greeting default "Kem Cho!",&#10;	"contactName": vars.fullName,&#10;	"jobDescription": vars.occupation&#10;}]' doc:name="Set Payload" doc:id="9c2f2303-178b-4275-a73e-cc92f7e15976" />
	</flow>
	<flow name="sayGoodbye" doc:id="c79c7591-567d-49fd-8b23-aa0d03b9821f" >
		<jms:listener doc:name="On New Message: Listen to JMS Queue" doc:id="0eb853a8-14c4-489b-91a7-dda251d473c3" config-ref="JMS_Config" destination="goodbye.flow">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"newMessage": upper("goodbye"),&#10;	"originalPayload": message.payload&#10;}]' doc:name="Set Payload" doc:id="5c02f8d9-c192-4dd0-9f97-e1f370767349" />
		<logger level="INFO" doc:name="Logger" doc:id="33811c66-7447-450c-a008-edd08df477ea" message='#[output application/json&#10;---&#10;{&#10;	"location": flow.name,&#10;	"currentPayload": message.payload	&#10;}]'/>
	</flow>
</mule>
